/*border boxes*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*floats and clear functions*/
 .left{
   float: left
 }

.right{
  float: right;

}

.clear{
  clear:both;
}

/*my styling*/
/*===================================================*/
/*background center*/
html {
  background: url("../assets/smoke.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*form styling*/
input {
  width: 375px;
  display: block;
  border: 3px solid #999;
  height: 25px;
}
input.beside{
  width: 187px;
  display: inline;
  border: 3px solid #999;
  height: 25px;
}
input.stack{
  width: 187px;
  display: block;
  border: 3px solid #999;
  height: 25px;
}

input[type="checkbox"]{
  width: 25px;
  display: inline;
}

.button {
  width: 100px;
  right: 20px;
  bottom: 20px;
  background: #09C;
  color: #fff;
  font-family: Helvetica, sans-serif;
  height: 30px;
  border-radius: 17px;
  border: 1px solid #999;
  margin-right: 20px;
  margin-bottom: 20px;
}

input.button:hover {
  background: #fff;
  color: #09C;
}

input:focus {
  border: 1px solid #09C;
}

aside.transparent{
    border-radius: 4%;
}

/*main page styling*/
.head{
  background-color: #331111;
  color: #ffffff;
  margin: 0 auto;
  background:rgba(20,0,0,0.5);
  height: 100px;
}

.article{
  padding: 10px;
  margin: 0 50px;
  width: 40%;

}
 .nav{
   width: 20%;
 }
.img{
  width: 150px;
  height: 100px;
}
 .aside{
   width: 30%;
 }

 .transparent{
  background:rgba(255,255,255,0.8);
}
.inline{
  display: inline;
}

.text-center
{
  text-align: center;
}

h1 {
  font-family: Helvetica, sans serif;
}

h3{
  font-size: 1.1rem;
  font-family: Helvetica;
  margin-bottom: 20px;
}

header h3{
  margin-top: 30px;
  margin-left: 10px;
}
